* {
  all: unset;

  display: revert;

  cursor: revert;

  box-sizing: border-box;
}
/* Styling af om os tekst og overskrift */

.omos_overskrift {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

body {
  background-image: url(/billeder/noodle_background_blue.svg);
}

.omos_tekst {
  max-width: 35ch;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.4rem;
}

h1,
p {
  font-family: "Josefin Slab", serif;
}

/* Styling af knapper i filtrerings menu */

img {
  width: 100%;
}

main {
  margin: 50px;
}

article {
  display: grid;
  padding-top: 40px;
}

/* Placerer ramenNavn oven på ramenbillede*/

.ramenbillede,
.ramenNavn {
  grid-area: 1/1;
}

.ramenNavn {
  place-self: center center;
  z-index: 1;
  color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 5px 5px black;
}

/* Grayscale og hover på ramenbillede */

.ramenbillede {
  filter: grayscale(50);
}

.ramenbillede:hover {
  filter: none;
}

/* Styling af knapper i filtrerings menu */

button {
  border: none;
  background: none;
  font-family: "Josefin Slab";
}

.filteringsknapper {
  text-decoration: 1px underline;
  font-size: 1.1rem;
}

.filteringsknapper_lokation {
  display: flex;
  justify-content: center;
}

/* Placerer logo oven på splashbillede */

.splash {
  display: grid;
  width: 100%;
}

.splash_billede,
.logo {
  grid-area: 1/1;
}

.splash_billede {
  filter: grayscale(50);
  place-self: center center;
  aspect-ratio: 2000/800;
}

.logo {
  place-self: center center;
  z-index: 1;
  max-width: 30%;
}

/* Styling af header */

.logo_header {
  width: 8%;
  margin-right: 0 auto;
}

.header_menu {
  padding-bottom: 10px;
  font-size: 2rem;
}

.header_menu button {
  font-size: 2rem;
  padding-left: 17px;
  text-decoration: underline;
}
#om_os {
  text-decoration: none;
  font-size: 1.4rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.kursiv {
  text-align: center;
  font-style: italic;
}
/* Sitet tilpasses forskellige media */

@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
  .nav-menu{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .filteringsknapper {
    font-size: 1.3rem;
    padding-left: 15px;
  }

  article {
    padding-top: 0;
  }
  .overskrift_forside,
  .filteringsknapper_lokation {
    grid-column: 1 / span 2;
  }

  .omos_overskrift {
    margin-top: 3rem;
    font-size: 3rem;
  }
  .omos_tekst {
    max-width: 55ch;
    line-height: 1.5rem;
    margin-top: 1rem;
  }
}

/* BURGERMENU STYLING*/
li {
  /* dette gør at liste elementerne ikke får prikkerne */
  list-style: none;
}

/* er vores container til navigationsmenu*/
.navbar{
  min-height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

/* Dette gør at der er et bestemt tidsinterval før animationen sker */
.nav-link-button{
transition: 0.7s ease;
}

/* Dette er en container hvor vores "bar" ligger i*/
.hamburger{
  display: none;
  cursor: pointer;
position: fixed;
right: 5%;
}

/*Dette er vores hamburger menu ikon(de 3 streger) */
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(0, 0, 0);


}

/* BURGERMENU i MOBIL*/
@media (max-width: 700px) {
  /* display block bruges til at lægge alle liste elementerne oven på hinanden */
  .hamburger{
    display: block;
  }

  /* Dette er selve menuen og gør at vi kan se menuen mens vi scroller. z-indeks for at menuen ikke er gemt bag billedet*/
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    z-index: 2;
    
  }

  /* Dette gør at hamburger menuen skifter fra 3 sterger til et kryds når menuen er synlig*/
  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

 .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
   .hamburger.active .bar:nth-child(3){
     transform: translateY(-8px) rotate(-45deg);
  }

  /* knappen der trykkes på for at toggle frme of tilbage mellem hamburger og kryds*/
  .toggle-btn{
  margin:16px 0;
  }
  /* her definere vi at vores menupunkter er synlige på skærmen når toggle btn er active*/
 .nav-menu.active{
    left: 0;
    margin:0% ;
    background-color: #e5e1db;
  }


  }

